@import '../../_theme.scss';

#home-component {
    margin-top: 16px;
    
    .title {
        font-size: mat-font-size($custom-typography, body-1);
        border-bottom: 1px solid mat-color($app-primary, 100);
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .discription {
        font-size: mat-font-size($custom-typography, caption)
    }
}

.row > .col{
    display: -webkit-inline-box;
    padding: 10px;
}

.row > .s4{
    width:10%
}

.row > .s8{
    width:90%
}

