mat-form-field{
  width: 450px;
  padding-left: 50px;
}
#createButton {
    background-color: #ff4081!important;
    color: #fff!important;
}

.mat-card-content>:first-child {
  margin-top: 14px;
}

.example-input {
  height: 35px;
  width: 50px;
}