<div class="flex-body">
    <mat-card>
        <mat-card-content class="forms-container">
          <p  class="mat-form1" *ngFor="let field of fields; let i = index">
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text'">
              <input
                #keyboardRef
                #{{field.name}}
                (keyup)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]="primaryData[field.name]"
                required
              />
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'textarea' && primaryData[field.name] === '{}'">
              <textarea
                #keyboardRef
                #{{field.name}}
                (blur)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]=""
                required={{field.ismandatory}}
                rows="3" cols="40"
              ></textarea>
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'textarea' && primaryData[field.name] !== '{}'">
              <textarea
                #keyboardRef
                #{{field.name}}
                (blur)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]="primaryData[field.name]"
                required={{field.ismandatory}}
                rows="3" cols="40"
              ></textarea>
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown'">
              <mat-select
                [value]="primaryData[field.name]"
                placeholder="{{ field.label[primaryLang] }}"
                required
              >
                <mat-option
                  *ngFor="let data of dropDownValues[field.name]"
                  (onSelectionChange)="
                    captureDropDownValue($event, field.name, 'primary')
                  "
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'calendar'">
              <input
                matInput
                [min]="minDate"
                [matDatepicker]="picker"
                (dateChange)="captureDatePickerValue($event, field.name, 'primary')"
                placeholder="{{field.label[primaryLang] | translate}}"
                [value]="primaryData[field.name]"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-divider *ngIf="showSecondaryForm && listBelowSectionData"></mat-divider>
        <mat-card-content class="forms-container" *ngIf="showSecondaryForm && listBelowSectionData" style="padding-top: 20px;">
            <table width="50%" *ngIf="showSecondaryAPIPanel">
              <tr style="vertical-align: top;">
                <td width="30%">
                  <mat-form-field>
                    <input
                      #keyboardRef
                      matInput
                      placeholder="Label"
                      [value]="apiKeyLabel"
                      (keyup)="captureValue($event, 'apiKeyLabel', '')"
                      required
                    />
                  </mat-form-field>
                </td>
                <td width="20%">
                  <button id="createButton" mat-raised-button (click)="generateAPIKey()">
                    Genrate
                  </button>
                </td>
              </tr>
            </table>
            <table width="50%" *ngIf="showSecondaryAPIPanel">
              <tr *ngFor="let data of listBelowSectionData;">
                <td width="35%" style="font-family: Roboto, sans-serif;
    font-weight: 400;font-size: 13px;width: 450px;padding-left: 50px;padding-top: 10px;">{{data.label}}</td>
                <td width="30%" style="padding-left: -50px;cursor: pointer;" (click)="deleteAPIKey(data)">x</td>
              </tr>
            </table>

            <table width="50%" *ngIf="showSecondarySBIPanel">
              <tr style="vertical-align: top;">
                <td width="30%">
                  <mat-form-field>
                    <mat-select
                      placeholder="SBIVersion"
                      required
                    >
                      <mat-option
                        *ngFor="let data of dropDownValues['sbiId']"
                        (onSelectionChange)="
                          captureDropDownValue($event, 'sbiId', '')
                        "
                        [value]="data.fieldCode"
                      >
                        {{ data.fieldValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="20%">
                  <button id="createButton" mat-raised-button (click)="mapSBIVersion()">
                    Map SBI
                  </button>
                </td>
              </tr>
            </table>
            <table width="50%" *ngIf="showSecondarySBIPanel">
              <tr *ngFor="let data of listBelowSectionData;">
                <td width="35%" style="font-family: Roboto, sans-serif;
    font-weight: 400;font-size: 13px;width: 450px;padding-left: 50px;padding-top: 10px;">{{data.sbiId}}</td>
                <td width="30%" style="padding-left: -50px;cursor: pointer;" (click)="unmapSBIVersion(data)">x</td>
              </tr>
            </table>

        </mat-card-content>
        <mat-card-actions class="action-buttons">
        <button id="createButton" mat-raised-button (click)="submit()">
        Save
        </button>
        <button mat-raised-button (click)="changePage()">
        Cancel
        </button>
        </mat-card-actions>
      
    </mat-card>
</div>