<div class="flex-body">
    <mat-card>
        <mat-card-content class="forms-container" *ngIf="!hideContainer">
          <p  class="mat-form1" *ngFor="let field of fields; let i = index">
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text'">
              <input
                #keyboardRef
                #{{field.name}}
                (keyup)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]="primaryData[field.name]"
                required
              />
            </mat-form-field>
            <mat-form-field style="width:950px" *ngIf="field.showInSingleView === 'true' && field.inputType === 'textarea' && primaryData[field.name] === '{}'">
              <textarea
                #keyboardRef
                #{{field.name}}
                (blur)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]=""
                required={{field.ismandatory}}
                rows="7" cols="40"
              ></textarea>
            </mat-form-field>
            <mat-form-field style="width:950px" *ngIf="field.showInSingleView === 'true' && field.inputType === 'textarea' && primaryData[field.name] !== '{}'">
              <textarea
                #keyboardRef
                #{{field.name}}
                (blur)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]="primaryData[field.name]"
                required={{field.ismandatory}}
                rows="7" cols="40"
              ></textarea>
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown'">
              <mat-select
                id="{{field.name}}"
                [value]="primaryData[field.name]"
                placeholder="{{ field.label[primaryLang] }}"
                required
              >
                <mat-option
                  *ngFor="let data of dropDownValues[field.name]"
                  (onSelectionChange)="
                    captureDropDownValue($event, field.name, 'primary')
                  "
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdownpartner'">
              <mat-select
                id="{{field.name}}"
                [value]="primaryData[field.name]"
                placeholder="{{ field.label[primaryLang] }}"
                required
                disabled="{{setreadonly}}"
              >
                <mat-option
                  *ngFor="let data of dropDownValues[field.name]"
                  (onSelectionChange)="
                    captureDropDownValue($event, field.name, 'primary')
                  "
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'calendar'">
              <input
                matInput
                [min]="minDate"
                [matDatepicker]="picker"
                (dateChange)="captureDatePickerValue($event, field.name, 'primary')"
                placeholder="{{field.label[primaryLang] | translate}}"
                [value]="primaryData[field.name]"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-card-content class="forms-container" *ngIf="hideContainer">
          <p  class="mat-form1" *ngFor="let field of fields; let i = index">
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'text'">
              <input
                #keyboardRef
                #{{field.name}}
                (keyup)="captureValue($event, field.name, 'primary')"
                matInput
                placeholder="{{
                  field.label[primaryLang] | translate
                }}"
                [value]="primaryData[field.name]"
                required
                disabled=true
              />
            </mat-form-field>
            <mat-form-field *ngIf="field.showInSingleView === 'true' && field.inputType === 'dropdown'">
              <mat-select
                id="{{field.name}}"
                [value]="primaryData[field.name]"
                placeholder="{{ field.label[primaryLang] }}"
                required
                disabled=true
              >
                <mat-option
                  *ngFor="let data of dropDownValues[field.name]"
                  (onSelectionChange)="
                    captureDropDownValue($event, field.name, 'primary')
                  "
                  [value]="data.fieldCode"
                >
                  {{ data.fieldValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
        </mat-card-content>
        <mat-divider *ngIf="showSecondaryForm && hideContainer"></mat-divider>
        <mat-card-content class="forms-container" *ngIf="showSecondaryForm" style="padding-top: 20px;">
            <table width="100%" *ngIf="showSecondaryAPIPanel">
              <tr style="vertical-align: top;">
                <td width="30%">
                  <mat-form-field>
                    <input
                      #keyboardRef
                      matInput
                      placeholder="Label"
                      [value]="apiKeyLabel"
                      (keyup)="captureValue($event, 'apiKeyLabel', '')"
                      required
                    />
                  </mat-form-field>
                </td>
                <td width="20%">
                  <button id="createButton" mat-raised-button (click)="generateAPIKey()">
                    Generate
                  </button>
                </td>
                <td width="50%">
                </td>
              </tr>
            </table>
            <div *ngIf="showSecondaryAPIPanel" style="width:100%">
              <table *ngIf="listBelowSectionData" mat-table [dataSource]="listBelowSectionData" class="mat-elevation-z8" width="96%" style="margin-left: 3rem;">
                <ng-container matColumnDef="label">
                  <th mat-header-cell *matHeaderCellDef> Label </th>
                  <td mat-cell *matCellDef="let element"> {{element.label}} </td>
                </ng-container>
                <ng-container matColumnDef="crDtimes">
                  <th mat-header-cell *matHeaderCellDef> CreatedDate </th>
                  <td mat-cell *matCellDef="let element"> {{element.crDtimes}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> 
                    <span *ngIf="element['isActive'] == true">{{'isActive.Active'|translate}}</span>
                    <span *ngIf="element['isActive'] == false">{{'isActive.InActive'|translate}}</span>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"><span *ngIf="element['isActive'] == true"><span style="cursor: pointer;" (click)="deleteAPIKey(element)">x</span></span></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <table width="100%" *ngIf="showSecondarySBIPanel">
              <tr style="vertical-align: top;">
                <td width="30%">
                  <mat-form-field>
                    <mat-select
                      placeholder="SBIVersion"
                      required
                    >
                      <mat-option
                        *ngFor="let data of dropDownValues['sbiId']"
                        (onSelectionChange)="
                          captureDropDownValue($event, 'sbiId', '')
                        "
                        [value]="data.fieldCode"
                      >
                        {{ data.fieldValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td width="20%">
                  <button id="createButton" mat-raised-button (click)="mapSBIVersion()">
                    Map SBI
                  </button>
                </td>
                <td width="50%">
                </td>
              </tr>
            </table>
            <div *ngIf="showSecondarySBIPanel" style="width:100%">
              <table *ngIf="listBelowSectionData" mat-table [dataSource]="listBelowSectionData" class="mat-elevation-z8" width="96%" style="margin-left: 3rem;">
                <ng-container matColumnDef="sbiId">
                  <th mat-header-cell *matHeaderCellDef> SBI </th>
                  <td mat-cell *matCellDef="let element"> {{element.sbiId}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element"> <span style="cursor: pointer;" (click)="unmapSBIVersion(element)">x</span></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedSBIColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedSBIColumns;"></tr>
              </table>
            </div>

        </mat-card-content>
        <mat-card-actions class="action-buttons">
        <button id="createButton" mat-raised-button (click)="submit()" *ngIf="!hideContainer">
        Save
        </button>
        <button mat-raised-button (click)="changePage()">
        Cancel
        </button>
        </mat-card-actions>
      
    </mat-card>
</div>