<ul>
  <li class="nav-header" *ngIf = "item?.children">
    <a mat-list-item id="{{item.route}}" class="menu-list-item" [style.marginTop.px]="index == 0 ? 25:0" (click)="toggleCollapse()">
      <span *ngIf="item?.icon" class="routeIcon"><img src="{{item?.icon}}" style="margin-right: 5px;width:16px;" alt="Icon"></span>&nbsp;
      <span class="menu-list-text">{{ item?.displayName | translate }}</span>
    </a>
    <ul class="nav nav-list" *ngIf="!isCollapsed">
      <ng-container *ngFor="let subItem of item?.children;let i=index">
        <li *ngIf="rolesService.checkRole(subItem)"><a mat-list-item id="{{subItem.route}}" [routerLink]="[subItem?.route]" routerLinkActive="list-item-active"
            (click)="onItemSelected(subItem)" class="menu-list-item">
            <span class="menu-list-text-children padding-left">{{subItem?.displayName | translate }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </li>
  <li class="nav-header" *ngIf = "!item?.children">
    <a id="{{item.route}}" mat-list-item [routerLink]="[item?.route]" routerLinkActive="list-item-active" (click)="onItemSelected(item)"
      class="menu-list-item" [style.marginTop.px]="index == 0 ? 25:0">
      <span *ngIf="item?.icon" class="routeIcon"><img src="{{item?.icon}}" style="margin-right: 5px;width:16px;" alt="Icon"></span>&nbsp;
      <span class="menu-list-text">{{ item?.displayName | translate }}</span>
    </a>
  </li>
</ul>