<div id="flex-single-view">
  <div id="flex-container">
    <div class="flex-header">
      <app-master-data-common-header
        [masterDataName]="masterDataName"
        [headerData]="headerData"
      ></app-master-data-common-header>
    </div>
    <div class="flex-body">
      <app-master-data-common-body
        [primaryData]="primaryData"
        [secondaryData]="secondaryData"
        [fields]="fields"
        [primaryLang]="primaryLang"
        [secondaryLang]="secondaryLang"
        [masterdataType]="masterdataType"
      ></app-master-data-common-body>
    </div>
  </div>
</div>
