.spinner-placer {
    margin: 20% 0 0 40%;
}

.breadcrumb {
    font-size: 12.5px;
    position: absolute;
    margin-top: 20px;
}

.breadcrumb > a {
    text-decoration: none;
    cursor: pointer;
}

#master-data-home {
  padding-top: 14px;
}
.heading {
  margin: 0px 10px 5px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  @media (max-width: 768px) {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}
.mat-card-content {
  margin-top: 5px !important;
  margin-bottom:  5px !important;
}

#master-data-flex-container {
  display: flex;
  overflow: auto;
  max-height: 80vh;
  // padding-bottom: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  .header {
    border-bottom: 1px solid #c6c6c6 !important;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    .mat-card-header-text {
      margin: 0px;
    }
    b {
      margin-bottom: 5px;
      color: #c6c6c6;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .content:hover{
    background-color: #FFE6EE;
    border-radius: 3px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
  .item1 {
    flex: 1;
    margin: 0px 10px !important;
    @media (max-width: 768px) {
      margin-right: 0px !important;
      margin-left: 0px !important;
      margin-bottom: 10px !important;
    }

    mat-card {
      height: calc(100% + 3px);
    }
  }
  .sub-items {
    flex-direction: column;
    .sub-item1,
    .sub-item2,
    .sub-item3 {
      margin-bottom: 15px;
    }
  }
}

.browseInput {
  background: rgba(253, 81, 140, 1);
  border: 1px solid rgba(253, 81, 140, 1);
  color: white;
  padding: 8px;
  border-radius: 2px;
}

.browseInput[disabled] {
  border: 1px solid rgba(253, 81, 140, 0.35);
  color: rgba(253, 81, 140, 0.35);
}

.custom-file-input{
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding:10px;
  width:100%;
}
.custom-file-input > input[type="file"]{
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;  /* Fix for IE7 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width:30%;
}
.custom-file-input > input[type="text"]{
    border-bottom: 1px solid rgba(0, 0, 0, 0.42) ! important;
    border: 0px;
    height: 32px;
    margin-left: 1px;
    width: 70%;
}
.mat-form-field{
  padding:10px;
}

.container {
   height: 105px;
   padding: 2rem;
   border: dashed 1px #FF4081;
   background-color: #f1b5c9;
   position: relative;
   display: flex;
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   margin-left: 8px;
   margin-top: 10px;
}
.container input {
   opacity: 0;
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
 .container label {
    color: #FF4081;
    width: 148px;
    height: 44px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 10px;
    border: 1px solid #CCCCCC;
    /*display: flex;*/
    font-size: 12px;
    font-weight: 200;
}
.container h3 {
   font-size: 16px;
   color: #FF4081;
   padding-left: 3px;
   padding-top: 7px;
   font-weight: 600;
}

.fileover {
   animation: shake 1s;
   animation-iteration-count: infinite;
}
.files-list {
   margin-top: 1.5rem;
}
 .files-list .single-file {
   display: flex;
   padding: 0.5rem;
   justify-content: space-between;
   align-items: center;
   border: dashed 1px #FF4081;
   margin-bottom: 1rem;
   flex-grow: 1;
   margin-left: 8px;
}
.files-list .single-file .preview {
   display: flex;
   margin-left: 0.5rem;
   cursor: pointer;
   align-self: flex-end;
}
 .files-list .single-file .delete {
   display: flex;
   margin-left: 0.5rem;
   cursor: pointer;
   align-self: flex-end;
}
 .files-list .single-file .name {
   font-size: 14px;
   font-weight: 500;
   color: #353f4a;
   margin: 0;
}
 .files-list .single-file .size {
   font-size: 12px;
   font-weight: 500;
   color: #a4a4a4;
   margin: 0;
   margin-bottom: 0.25rem;
}
 .files-list .single-file .info {
   width: 100%;
}

.preview-heading{
  color: #505050;
  font-weight: 600;
}

.labelfileupload {
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.54);
}