<span class="breadcrumb">
        <a (click)="changePage()">&nbsp;&nbsp; {{mapping.name}} &nbsp;&nbsp;</a> / 
        &nbsp;&nbsp; <span *ngIf="id">Detail View</span> <span *ngIf="!id">{{id}} Create</span>
</span>
<br><br>
<app-mater-data-common-view
        *ngIf="mapping && !showSpinner"
        [masterDataName]="mapping.name"
        [headerData]="headerData"
        [primaryData]="primaryData"
        [secondaryData]="secondaryData"
        [fields]="specFileData"
        [primaryLang]="primaryLangCode"
        [secondaryLang]="secondaryLangCode">
</app-mater-data-common-view>
<mat-spinner class="spinner-placer" *ngIf="showSpinner"></mat-spinner>