<div class="container">
  <table class="mat-table">
    <tr class="mat-row sticky-header">
      <th
        *ngFor="let columnName of displayedColumns; let i = index"
        class="mat-header-cell table-header sticky-header"
      >
        <span class="columnName-sort-span"
          ><span>{{ columnName.label[lang] }}</span>
          <span (click)="sortColumn(columnName.name,i)"
            ><img *ngIf="sortIconTrackerArray[i] === 0"
              src="assets/images/icon_table_sort_both.png"
              height="20px"
              width="13px"
              class="sort-icon"
            /><img *ngIf="sortIconTrackerArray[i] === 1"
              src="assets/images/icon_table_sort_up.png"
              height="20px"
              width="13px"
              class="sort-icon"
            /><img *ngIf="sortIconTrackerArray[i] === -1"
              src="assets/images/icon_table_sort_Down.png"
              height="20px"
              width="13px"
              class="sort-icon"
            /> </span
        ></span>
      </th>
      <th class="table-header sticky-header">&emsp;</th>
    </tr>
    <tr *ngFor="let data of tableData; index as i" class="mat-row">
      <td
        *ngFor="let item of columnsOfTableData; let i = index"
        class="mat-cell  "
        (click)="getTableRowData(data, i, item)"
        [ngClass]="{ 'text-alignment': item === 'name' && imageSource}"
      >
        <span class="flex-display" [ngStyle]="tableStyle(i, data[item], item)"
           *ngIf="item !== 'isActive'"><span *ngIf="item !== 'active'">{{ data[item] }}</span><span *ngIf="item === 'active'"><span *ngIf="data[item] == true">{{'isActive.Active'|translate}}</span><span *ngIf="data[item] == false">{{'isActive.InActive'|translate}}</span></span></span><span *ngIf="item === 'isActive'"><span *ngIf="data[item] == true">{{'isActive.Active'|translate}}</span><span *ngIf="data[item] == false">{{'isActive.InActive'|translate}}</span></span>
      </td>
      <td class="mat-cell mat-header-cell" *ngIf="buttonList.length>0"> 
        <span *ngIf="this.currentRoute !== 'partner'">
          <!-- <span *ngIf="data['statusCode'] !== 'approved'">
             -->
              <!-- <span *ngIf="data['approvalStatus'] != 'approved'">
                <span *ngIf="data['approvalStatus'] !== 'rejected'"> -->
                  <!-- <span *ngIf="data['isActive'] != true"> -->
                    <span *ngIf="data['statusCode'] !== 'rejected'">
                      <span *ngIf="data['statusCode'] !== 'approved'">
                        <button mat-icon-button [matMenuTriggerFor]="menu" id="ellipsis-button{{i}}" (click)="ellipsisAction(data)">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                      </span>
                    </span>

                    <span *ngIf="showapilistbutton === true">
                      <span *ngIf="data['statusCode'] !== 'rejected'">
                        <span *ngIf="data['statusCode'] === 'approved'">
                          <button mat-icon-button [matMenuTriggerFor]="menu" id="ellipsis-button{{i}}" (click)="ellipsisAction(data)">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        </span>
                      </span>
                    </span>
                  <!--    -->
                <!-- </span>
              </span> -->
            <!-- </span>
          </span> -->
        </span>
        <span *ngIf="this.currentRoute === 'partner'">
          <button mat-icon-button [matMenuTriggerFor]="menu" id="ellipsis-button{{i}}" (click)="ellipsisAction(data)">
            <mat-icon>more_vert</mat-icon>
          </button>
        </span>
      </td>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button
          mat-menu-item
          *ngFor="let button of ellipsisList"
          (click)="selectedRow(data, button)"
          id={{button.buttonName.eng}}{{i}}
        >
        <span>{{ button.buttonName[lang] }}</span>
        </button>
      </mat-menu>
    </tr>
  </table>
  <p *ngIf="noDataFlag" style="text-align: center">No Data</p>
</div>
<!-- <ng-template #nodata> -->
  <div *ngIf="!noDataFlag && !(tableData.length > 0)" style="display: flex; justify-content: center;">
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
  </div>
<!-- </ng-template> -->
