<ng-container>
  <span><h3>Partner Manager</h3></span>
  <mat-card class="mat-elevation-z8">
    <app-toolbar
      *ngIf="
        actionEllipsis && actionEllipsis  && paginatorOptions
      "
      [buttonList]="actionEllipsis"
      [paginationOptions]="paginatorOptions"
      [filtersAppliedFlag]="filtersApplied"
      (pageEvent)="pageEvent($event)"
    ></app-toolbar>
  </mat-card>
  </ng-container>
  <!-- <ng-template #nodata><mat-spinner class="spinner-placer"></mat-spinner></ng-template> -->