<div id="home-component" *ngIf="partnerIdDetail">
  <h3 class="mat-h1">
    DashBoard
  </h3>

  <mat-card>
    <div class="discription">
      	<div class="row">
	      	<div class="col s4">Partner ID</div>
      		<div class="col s8">{{partnerIdDetail.partnerID}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">Organization Name</div>
      		<div class="col s8">{{partnerIdDetail.organizationName}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">Address</div>
      		<div class="col s8">{{partnerIdDetail.address}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">Contact No.</div>
      		<div class="col s8">{{partnerIdDetail.contactNumber}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">EmailId</div>
      		<div class="col s8">{{partnerIdDetail.emailId}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">Policy Group</div>
      		<div class="col s8">{{partnerIdDetail.policyGroup}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">Policy Type</div>
      		<div class="col s8">{{partnerIdDetail.partnerType}}</div>
	    </div>
	    <div class="row">
	      	<div class="col s4">Upload Certificate</div>
      		<div class="col s8"><button id="createButton" mat-raised-button (click)="redirecttoupload()">Upload</button></div>
	    </div>
	    <div class="row">
	      	<div class="col s4">View Certificate</div>
      		<div class="col s8"><button id="createButton" mat-raised-button (click)="viewCertificate()">View</button></div>
	    </div>

    </div>
  </mat-card>
</div>

<div id="home-component"  *ngIf="!partnerIdDetail" style="text-align: center;margin-top: 60px;margin-left: -10em;">
  <h3 class="mat-h1">
    Welcome to Mosip Partner portal !
  </h3>
</div>